.signupPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupBoard {
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary);
    border-radius: 3px;
}
.signupHeader{
    margin: 10px 0px;
    font-size: 23px;
    font-weight: 500;
}
.signupForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.signupButton{
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--primary);
    color: var(--background);
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    align-self: center;
}
.signupButton:hover{opacity: 1;
    transform: scale(1.05);
}

.signupForm>input {
    width: 98%;
    padding: 0px;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 5px 0px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--primarylight);
    border-radius: 2px;
    font-size: 16px;
}

.signupRegister{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupRegister>p{
    font-size: 14px;
}
.signupRegister>p>a{
    color: var(--primary);
    text-decoration: none;
    
}
